<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= stylesheet 'application' %>
    <%= favicon %>
    <%= javascript 'annyang', 'application' %>
    <script src=""></script>
    <script>
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
